.sweet-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s ease;
}

.sweet-card:hover {
  transform: translateY(-4px);
}

.sweet-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.in-stock {
  color: green;
  font-weight: bold;
}

.out-stock {
  color: red;
  font-weight: bold;
}

.buy-btn {
  background-color: #4f46e5;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn-disabled {
  background-color: #999;
  cursor: not-allowed;
}
